.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-header a {
    margin: 0 15px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.category-grid {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 30px 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.category-item {
    background: white;
    box-shadow: 0 3px 5px 0 rgba(153, 153, 153, 1);
    cursor: pointer;
    flex: 0 0 200px;
    font-size: 24px;
    height: 150px;
    line-height: 150px;
    margin: 0 10px 15px 10px;
    padding: 15px;
    text-align: center;
}

.category-products {
    margin: 30px 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px 0 rgba(153, 153, 153, 1);
}

.category-product-item {
    width: 100%;
    min-height: 24px;
    padding: 13px 20px;
    background: white;
    border-bottom: 1px solid #eee;
}

.category-details {
    text-align: left;
    padding: 0.75rem 1rem;
}

.category-details h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0 1.5rem;
}

.category-details ul {
    padding: 0;
}

.category-details ul li {
    list-style: none;
    padding: 1rem 1.5rem;
    background: white;
    border-bottom: 1px solid #ccc;
    color: #777;
    box-shadow: 0 3px 5px 0 rgba(153, 153, 153, 1);
}
